<header class="header">
  <div class="container">
    <img src="assets/img/logo.svg" alt="логотип" class="logo">

    <nav class="menu">
      <ul>
        <li class="menu__item">
          <a href="#">Главная</a>
        </li>
        <li class="menu__item">
          <a href="#cars">Автомобили</a>
        </li>
        <li class="menu__item">
          <a href="#price">Бронирование авто</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<main class="main">

  <section class="hero" [ngStyle]="bgPos">
    <div class="container">
      <div class="hero__info">
        <h1 class="hero__title">Аренда премиальных автомобилей</h1>
        <p class="hero__description">
          В нашем клубе имеется солидная коллекция спортивных автомобилей — от достаточно распространенных серийных
          машин до настоящего гоночного эксклюзива. Воспользуйтесь уникальной возможностью побывать за рулем настоящей
          легенды и узнать, на что она способна за пределами гоночной трассы!
        </p>
        <button class="hero__btn" id="hero__btn" (click)="goScroll(cars)">Посмотреть автомобили</button>
      </div>
    </div>
  </section>

  <section class="cars" id="cars" #cars>
    <div class="container">
      <h2 class="cars__title">Наш автопарк</h2>

      <div class="car-toggle">
        <div [ngClass]="{active: category === 'sport'}" (click)="toggleCategory('sport')">Sport</div>
        <div [ngClass]="{active: category === 'luxury'}" (click)="toggleCategory('luxury')">Luxury</div>
      </div>

      <ul class="cars__list">
        <li class="cars__item" *ngFor="let car of carsData">
          <img src="{{car.image}}" alt="car1" class="item__img">
          <h3 class="item__title">{{car.name}}</h3>
          <div class="item__info">
            <ul class="info__list">
              <li class="info__item">
                <img src="assets/img/icons/gear.svg" alt="">
                <h4>Привод</h4>
                <p>{{car.gear}}</p>
              </li>
              <li class="info__item">
                <img src="assets/img/icons/engine.svg" alt="">
                <h4>Двигатель</h4>
                <p>{{car.engine}}</p>
              </li>
              <li class="info__item">
                <img src="assets/img/icons/places.svg" alt="">
                <h4>Кол-во мест</h4>
                <p>{{car.places}}</p>
              </li>
            </ul>
          </div>
          <button class="cars__btn" (click)="goScroll(price, car)">Забронировать</button>
        </li>
      </ul>
    </div>
  </section>

  <section class="price" id="price" #price>
    <div class="container">
      <h2 class="cars__title">Узнать цену и забронировать</h2>

      <p class="price__description">
        Заполните данные, и мы перезвоним вам для уточнения всех деталей бронирования
      </p>

      <form action="" class="price__form" [formGroup]="priceForm">
        <input type="text" class="price__input" id="name" placeholder="Ваше имя" formControlName="name">
        <input type="text" class="price__input" id="phone" placeholder="Ваш телефон" formControlName="phone">
        <input type="text" class="price__input" id="car" placeholder="Автомобиль, который вас интересует"
          formControlName="car">
        <button class="price__btn" type="button" id="price__btn" (click)="onSubmit()"
          [disabled]="!priceForm.valid">Узнать цену</button>
      </form>

      <img src="assets/img/rolls.png" alt="Rolls" class="price__img" [ngStyle]="trans">
    </div>
  </section>
</main>

<footer class="footer">
  <div class="container">
    <a href="#"><img src="assets/img/logo.svg" alt="логотип" class="logo"></a>
    <p class="copyright">Все права защищены</p>
  </div>
</footer>
